<tr>
    <th scope="row">{{contador}}</th>
    <td><img src="{{image_src}}" alt="" style="max-width: 80px;height:auto"></td>
    <td>{{product_title}}</td>
    <td>{{product_stoke}}</td>
    <td>R$ {{product_price}}</td>

    <td>
        <a class="product-edit-button btn btn-primary" href="{{URL}}/login/editar?id={{id}}">
            <i class="fas fa-edit"></i>
        </a>
    </td>
    <td>
        <button class="product-edit-button btn btn-danger" onclick="productAction('{{id}}', 'delete')">
            <i class="fas fa-trash"></i>
        </button>
    </td>
</tr>
