<h1 class="text-secondary">Lista de produtos</h1>
<hr>
<section id="products" class="mt-5 d-flex w-100 align-self-strech flex-wrap">
    
    
    <!-- produto -->
    <div id="product-1" class="product col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 m-0">
        <div class="product-box rounded p-2 border shadow bg-ligth">
            <div class="product-image d-flex bg-secondary justify-content-center">
                <i class="py-5 fa fa-image"></i>
            </div>
            <div class="mt-3 product-info text-secondary">

                <!-- Título do produto -->
                <h3 class="product-title">Título do produto</h3>

                <!-- Preço do produto -->
                <h3 class="product-price text-success">R$ 99,90</h3>

                <!-- descrição do produto -->
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                <!-- Botões de ação -->
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success"><i class="fas fa-cart-plus"></i></button>
                </div>

            </div>
        </div>
    </div>


</section>