<h1 class="text-secondary">Lista de produtos</h1>
<hr>
<!-- botão de editar -->
<a class="product-edit-button btn btn-primary" href="{{URL}}/login/adicionar">
    <i class="fas fa-plus-circle"></i> Novo produto
</a>
<hr>

<section id="products-table" class="mt-5">
    
    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imagem</th>
                <th scope="col">Título</th>
                <th scope="col">Estoque</th>
                <th scope="col">Preço</th>
                <th scope="col">Editar</th>
                <th scope="col">Apagar</th>
              </tr>
        </thead>
        <tbody>
            {{products}}
        </tbody>
    </table>
</section>

<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmação</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="modal_close()"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir esse item?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="modal_close()">Cancelar</button>
          <button id="excluir_button" type="button" class="btn btn-danger">excluir</button>
        </div>
      </div>
    </div>
  </div>