<h1 class="text-secondary">Lista de produtos</h1>
<hr>

<!-- botão de editar -->
<a class="product-edit-button btn btn-primary" href="{{URL}}/products/new/create">
    <i class="fas fa-plus-circle"></i> Novo produto
</a>

<hr>


<h1>Adicionar novo produto</h1>
<!-- formulário de novo produto -->
<form method="post" enctype="multipart/form-data">

    <div class="d-flex mb-3">
        <!-- id -->
        <div class="pr-2 py-2">
            <label for="newProduct-input-id" class="form-label text-secondary">ID do produto</label>
            <input required type="text" name="product-id" class="form-control border text-center" />
        </div>


        <!-- Estoque -->
        <div class="p-2">
            <label for="newProduct-input-stoke" class="form-label text-secondary">Estoque</label>
            <input required type="number" name="product-stoke" class="form-control border text-center" />
        </div>
    </div>

    
    <!-- Título -->
    <div class="mb-3">
        <label for="newProduct-input-title" class="form-label text-secondary">Título</label>
        <input required type="text" name="product-title" class="form-control border" />
    </div>

    
    <!-- Descrição -->
    <div class="mb-3">
        <label for="newProduct-input-description" class="form-label text-secondary">Descrição</label>
        <textarea required type="text" name="product-description" class="form-control border"></textarea>
    </div>
    
    <!-- imagens -->
    <div class="mb-3">
        <label for="newProduct-input-images" class="form-label text-secondary">Imagens</label>
        <input required id="newProduct-input-images" type="file" name="product-images[]" class="form-control border text-center" multiple="multiple" accept="image/png, image/gif, image/jpeg" onchange="newProductChangeImage(event);" style="display: block;" />
    </div>


    <!-- box com imagens -->
    <div id="caixa_imagens_novo_produto" class="d-flex align-items-center" style="max-width: 100%;overflow-y: auto;">
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-success">Criar produto</button>



</form>

<hr>

<section id="products-table" class="mt-5">
    
    
    <!-- produto -->
    <div id="product-1" class="d-flex align-self-strech align-items-center border">
        
        <!-- contador -->
        <h5 class="product-counter px-2 m-0 mx-2">1</h5>
        
        <!-- mini imagem do produto -->
        <div>
            <!-- substituir icone pela imagem -->
            <i class="bg-secondary p-4 fa fa-image"></i>
            <img class="product-xsm-image" src="" alt="">
        </div>
        
        <!-- Título do produto -->
        <h6 class="product-title m-0 mx-2">Título do produto</h6>
        
        <!-- Estoque do produto -->
        <h6 class="product-stoke m-0 mx-2">Estoque</h6>
        
        <!-- Preço do produto -->
        <h6 class="product-title m-0 mx-2">R$ 99,90</h6>

        <!-- botão de status visivel -->
        <button class="product-status-enable-button btn btn-success" onclick="productAction('id', 'enable')">
            <i class="far fa-eye"></i>&nbspvisivel
        </button>

        <!-- botão de status invisivel -->
        <button class="product-status-disabled-button btn btn-warning" onclick="productAction('id', 'disabled')">
            <i class="far fa-eye-slash"></i>&nbspinvisivel
        </button>

        <!-- botão de editar -->
        <a class="product-edit-button btn btn-primary" href="{{URL}}/products/id/edit">
            <i class="fas fa-edit"></i>
        </a>

        <!-- botão de excluir -->
        <button class="product-edit-button btn btn-danger" onclick="productAction('id', 'delete')">
            <i class="fas fa-trash"></i>
        </button>

    </div>


</section>