<!-- link home -->
<div>
    <a class="btn btn-dark btn-desktop" href="{{URL}}">
        <i class="nav-desktop-icon fas fa-store"></i>
    </a>
</div>

<!-- link info -->
<div>
    <a class="btn btn-dark btn-desktop" href="{{URL}}/info">
        <i class="nav-desktop-icon fas fa-info-circle"></i>
    </a>
</div>

<!-- link about -->
<div>
    <a class="btn btn-dark btn-desktop" href="{{URL}}/about">
        <i class="nav-desktop-icon fas fa-question"></i>
    </a>
</div>

<!-- link login -->
<div>
    <a class="btn btn-dark btn-desktop" href="{{URL}}/login">
        <i class="nav-desktop-icon fas fa-user-alt"></i>
    </a>
</div>