<div>
    <a class="btn btn-light text-secondary btn-mobile" href="#">
        <i class="fas fa-store"></i>
    </a>
</div>
<div>
    <a class="btn btn-light text-secondary btn-mobile" href="#">
        <i class="fas fa-info-circle"></i>
    </a>
</div>
<div>
    <a class="btn btn-light text-secondary btn-mobile" href="#">
        <i class="fas fa-question-circle"></i>
    </a>
</div>
<div>
    <a class="btn btn-light text-secondary btn-mobile" href="#">
        <i class="fas fa-user-alt"></i>
    </a>
</div>