<!-- link home -->
<div>
    <a class="btn btn-light text-secondary btn-mobile" href="{{URL}}">
        <i class="fas fa-store"></i>
    </a>
</div>

<!-- link info -->
<div>
    <a class="btn btn-light text-secondary btn-mobile" href="{{URL}}/info">
        <i class="fas fa-info-circle"></i>
    </a>
</div>

<!-- link about -->
<div>
    <a class="btn btn-light text-secondary btn-mobile" href="{{URL}}/about">
        <i class="fas fa-question-circle"></i>
    </a>
</div>

<!-- link login -->
<div>
    <a class="btn btn-light text-secondary btn-mobile" href="{{URL}}/login">
        <i class="fas fa-user-alt"></i>
    </a>
</div>